<div fxLayout="column"
     class="form-full-width"
     fxFlexFill>
  <h1 mat-dialog-title>Редактировать</h1>
  <form novalidate
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
      <p>Причина изменения</p>
      <mat-form-field>
        <textarea rows="5"
                  cols="50"
                  matInput
                  formControlName="editReason"></textarea>
      </mat-form-field>
      <p>Сумма оплаты с НДС</p>
      <mat-form-field>
        <input matInput
               type="number"
               formControlName="amount">
      </mat-form-field>
      <mat-checkbox class="check-input-container"
                    formControlName="makeCredited">Признать зачтённой</mat-checkbox>
    </div>
    <div mat-dialog-actions
         align="end">
      <button type="button"
              mat-button
              color="accent"
              (click)="onCancelClick()">Отмена</button>
      <button type="submit"
              color="primary"
              [disabled]="formGroup.invalid"
              mat-button
              cdkFocusInitial>Сохранить</button>
    </div>
  </form>
</div>