<form
  novalidate
  [formGroup]="formGroup"
  class="info"
>
  <div
    class="actions-container ac-top ac-right"
    [hidden]="!exists()"
  >
    <button
      mat-mini-fab
      type="button"
      (click)="onBack()"
      color="primary"
      i18n-matTooltip="@@backTooltip"
      matTooltip="Back"
      matTooltipPosition="above"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="info__column">
    <h4
      class="title"
      i18n="@@mainParameters"
    >Main parameters</h4>
    <div class="info__group">
      <!-- Тип документа -->
      <app-common-autocomplete
        class="info__group-item"
        [dictionary]="docTypesCollection"
        i18n-placeholder="@@inputDocumentType"
        placeholder="Document type"
        formControlName="typeId"
        [disabled]="!editMode"
        (changed)="onTypeSelect($event)"
      ></app-common-autocomplete>
      <app-common-input-string
        class="info__group-item"
        i18n-placeholder="@@inputBarcode"
        placeholder="Barcode"
        formControlName="barcode"
      ></app-common-input-string>
    </div>
    <!--Номера заявок-->
    <app-attach-to-owner-form
      formControlName="ownerNumbers"
      [disabled]="!editMode"
    ></app-attach-to-owner-form>
    <!-- Дата документа -->
    <mat-form-field>
      <input
        matInput
      [matDatepicker]="dateCreatePicker"
      i18n-placeholder="@@inputDateCreate"
      placeholder="Date create"
      formControlName="dateCreate"
    >
      <mat-datepicker-toggle
        matSuffix
        [for]="dateCreatePicker"
      ></mat-datepicker-toggle>
      <mat-datepicker
        #dateCreatePicker
        [disabled]="!editMode"
      ></mat-datepicker>
    </mat-form-field>
    <div class="info__group">
      <!-- Количество страниц -->
      <mat-form-field class="info__group-item">
        <input
          matInput
          type="number"
          i18n-placeholder="@@inputPageCount"
          placeholder="Page count"
          formControlName="pageCount"
        >
      </mat-form-field>
      <div class="info__group-item info__group-item--center">
        <mat-checkbox
          class="check-input-container"
          i18n-placeholder="@@inputScanned"
          formControlName="wasScanned"
        >Was scanned</mat-checkbox>
      </div>
    </div>
    <app-documen-link
      [links]="links"
      [parentLinks]="parentLinks"
      (linkRemove)="linkRemove($event)"
      (changed)="linkAdded($event)"
      [disabled]="!editMode"
    ></app-documen-link>
    <app-comment
      [comments]="comments"
      (changed)="commentAdded($event)"
      [disabled]="!editMode"
    ></app-comment>
    <h4
      class="title"
      i18n="@@documentDescription"
    >Document description</h4>
    <app-common-input-string
      i18n-placeholder="@@inputNameRu"
      placeholder="Name in Russian"
      formControlName="nameRu"
    ></app-common-input-string>
    <app-common-input-string
      i18n-placeholder="@@inputNameKz"
      placeholder="Name in Kazakh"
      formControlName="nameKz"
    ></app-common-input-string>
    <app-common-input-string
      i18n-placeholder="@@inputNameEn"
      placeholder="Name in English"
      formControlName="nameEn"
    ></app-common-input-string>
    <h4
      class="title"
      [hidden]="!exists()"
      i18n="@@documentRoute"
    >Document route</h4>
    <app-table
      [columns]="columns"
      [data]="workflows"
      class="table-small table-stripped"
    ></app-table>
  </div>
  <div class="info__column">
    <div formGroupName="userInputFields">
      <div *ngFor="let fieldConfig of userInputFormConfig">
        <div [ngSwitch]="fieldConfig.richInput">
          <mat-form-field *ngSwitchCase="false">
            <textarea
              matInput
              rows="3"
              [id]="fieldConfig.key"
              [placeholder]="fieldConfig.label"
              [formControlName]="fieldConfig.key"
            ></textarea>
          </mat-form-field>
          <div *ngSwitchCase="true">
            <label [attr.for]="fieldConfig.key">{{ fieldConfig.label }}</label>
            <quill-editor
              matInput
              [id]="fieldConfig.key"
              [formControlName]="fieldConfig.key"
              [style]="{'min-height': '200px'}"
              [modules]="quillModules"
            ></quill-editor>
          </div>
        </div>
      </div>
    </div>
    <h4 class="title" *ngIf="!noAttachments">Прикрепленные файлы</h4>
    <h4 class="title" *ngIf="noAttachments">Прикрепленных файлов нет</h4>
    <app-attachments
      [id]="id"
      (attachmentsLoad)="onAttachmentsLoad($event)"
    ></app-attachments>
  </div>
  <!-- Buttons -->
  <div
    class="actions-container ac-right ac-bottom"
    fxLayout="row"
  >
    <div
      class="read-mode-actions"
      *ngIf="exists()"
    >
      <div
        *ngIf="previewMode"
        fxLayout="row"
      >
        <button
          mat-fab
          type="button"
          (click)="onPreview(true, false)"
          color="primary"
          i18n-matTooltip="@@textPreviewRecognized"
          matTooltip="Preview recognized text"
          matTooltipPosition="above"
          *ngIf="documentRequestDetail.hasSecondaryAttachment"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button
          mat-fab
          type="button"
          (click)="onPreview(true, true)"
          color="primary"
          i18n-matTooltip="@@textPreviewScan"
          matTooltip="Preview scan"
          matTooltipPosition="above"
          *ngIf="hasAttachment()"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>
        <button
          mat-fab
          type="button"
          (click)="onPreview(false, false)"
          color="accent"
          i18n-matTooltip="@@textPreviewTemplate"
          matTooltip="Preview template"
          matTooltipPosition="above"
          *ngIf="documentRequestDetail.hasTemplate"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>
      </div>
      <div *ngIf="!previewMode">
        <button
          mat-fab
          type="button"
          (click)="togglePreviewMode(true)"
          color="accent"
          i18n-matTooltip="@@textPreview"
          matTooltip="Preview"
          matTooltipPosition="above"
        >
          <mat-icon>zoom_in</mat-icon>
        </button>

      </div>
      <div [ngSwitch]="hasAttachment()">
        <input
          accept=".pdf, .docx"
          single
          (change)="onSingleFileSelect($event, i)"
          type="file"
          #inputSingleFile
          hidden
        >
        <button
          mat-fab
          type="button"
          (click)="inputSingleFile.click()"
          color="accent"
          i18n-matTooltip="@@textReplace"
          matTooltip="Replace"
          matTooltipPosition="above"
          *ngSwitchCase="true"
        >
          <mat-icon>find_replace</mat-icon>
        </button>
        <button
          mat-fab
          type="button"
          color="accent"
          (click)="onUnpinClick()"
          i18n-matTooltip="@@unpinMaterialTooltip"
          matTooltip="Unpin material"
          matTooltipPosition="above"
          *ngSwitchCase="true"
        >
          <mat-icon>link_off</mat-icon>
        </button>
        <button
          mat-fab
          type="button"
          (click)="inputSingleFile.click()"
          color="accent"
          i18n-matTooltip="@@textScan"
          matTooltip="Scan"
          matTooltipPosition="above"
          *ngSwitchCase="false"
        >
          <mat-icon>file_upload</mat-icon>
        </button>
      </div>
    </div>
    <div
      class="read-mode-actions"
      *ngIf="canEditData()">
    <!-- [disabled]="(!(isEditableStage | async) && currentStageCode !== 'IN3' && currentStageCode !== 'IN1.2.1') || isReadOnly" -->
        <button
          mat-fab
          type="button"
          (click)="onEdit()"
          color="accent"
          i18n-matTooltip="@@editTooltip"
          matTooltip="Edit"
          matTooltipPosition="above"
        >
      <mat-icon>mode_edit</mat-icon>
    </button>
  </div>
    <div
      class="edit-mode-actions"
      fxLayout="row"
      *ngIf="editMode"
    >
      <button
        mat-mini-fab
        type="button"
        [color]="'primary'"
        (click)="onUndo()"
        i18n-matTooltip="@@backTooltip"
        matTooltip="Back"
        matTooltipPosition="above"
      >
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        mat-fab
        type="button"
        [disabled]="!dirtyForm || !validForm"
        color="primary"
        i18n-matTooltip="@@saveTooltip"
        matTooltip="Save"
        matTooltipPosition="above"
        (click)="onSubmit()"
      >
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>
  <spinner
    backgroundColor="#00695c"
    spinner="sk-cube-grid"
  ></spinner>
</form>
