:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mat-dialog-content {
    max-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
}

textarea {
    resize: none;
}
