<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Server=192.168.78.2;Database=dbNiisNewWeb_dev;Integrated Security=false;User ID=sa;Password=Password123;MultipleActiveResultSets=true" />
		<add key="LogConnectionString" value="Server=192.168.78.2;Database=dbNiisRomarinLog;Integrated Security=false;User ID=sa;Password=Password123;MultipleActiveResultSets=true" />
		<add key="MainExecutorId" value="1118" />

		<add key="host" value="ftpird.wipo.int" />
		<add key="user" value="anonymous" />
		<add key="password" value="guest" />
		<add key="path" value="/wipo/madrid/romarin" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>