<div fxFlexFill fxLayout="column">
  <mat-selection-list #fullChange (selectionChange)="onSelect(fullChange)">
    <mat-list-option
      *ngFor="let type of fullTypes; let i = index"
      [value]="type.code"
      >{{ type.nameRu }}
    </mat-list-option>
  </mat-selection-list>
  <mat-selection-list
    #fieldChange
    (selectionChange)="onSelect(fieldChange)"
    [disabled]="fullChange.selectedOptions.selected.length > 0"
  >
    <mat-list-option
      *ngFor="let type of formTypes; let i = index"
      [value]="type.code"
      >{{ type.nameRu }}
    </mat-list-option>
  </mat-selection-list>
</div>
