<app-table
    [columns]="columns"
    [source]="documentsService"
    [reset]="reset"
    [sortable]="true"
    [paginable]="true"
    [paginatorOnTop]="true"
    [selectable]="true"
    [onlyQueriedData]="true"
    [displayedColumns]="displayedColumns"
    [defaultConfig]="columnsConfigs"
    [header]="'Журнал Заявок \\ ОД \\ Договоров'"
    [sortButton]="true"
    (select)="onSelect($event)"
    (columnSort)="onColumnsChange($event)"
    (resultsLength)="onResultsLength()"
    [uniqTableName]="'documentsListTable'"
    [canExport]="true"
    (export)="onExport($event)"
    class="table-medium"
></app-table>
