@import '~@angular/material/theming';
@import '../../../../styles/mixin';
mat-sidenav {
//  width: 320px;
}
.mat-drawer {
  height: 100%;
}
.sidenav-container {
  height: 100%;
}

.table-container {
  margin: 10px 130px 0 130px;
  overflow: hidden;
  //height: 100%;
}
.btn-container {
  padding: 5px;
}
.icon {
  position: absolute;
  top: 10px;
  background-color: #30A095;
  @include icon-button;
  mat-icon {
    margin: auto;
    color: white;
  }
}
.content {
  height: 100vh;
}

