:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .mat-dialog-content {
    max-height: 100%;
    height: 100%;
    display: flex;
  }

  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.form {
  width: 100%;
  display: grid;
  grid-gap: 24px;
  grid-template-rows: auto 1fr;

  .form__search {
    width: 100%;
  }

  .form__container {
    overflow: auto;
  }
}
