<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <remove name="WebDAV" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath=".\Iserv.Niis.Portal.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="10000" maxUrl="1000" /> /* Change the Url limit here */
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="PUT" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="DELETE" allowed="true" />
          <add verb="HEAD" allowed="true" />
        </verbs>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
