  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Первый-Третий)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Бірінші-Үшінші)' where Code = 'NEW_108';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Четвертый-Пятый)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Төртінші-Бесінші)' where Code = 'NEW_109';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Шестой-Седьмой)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Алтыншы-Жетінші)' where Code = 'NEW_110';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Восьмой-Десятый)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Сегізінші-Оныншы)' where Code = 'NEW_111';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Одиннадцатый-Двенадцатый)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он бірінші-Он екінші)' where Code = 'NEW_112';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Тринадцатый-Пятнадцатый)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он үшінші-Он бесінші)' where Code = 'NEW_113';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Шестнадцатый-Восемнадцатый)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он алтыншы-Он сегізінші)' where Code = 'NEW_114';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Девятнадцатый-Двадцать пятый)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он тоғызыншы-Жиырма бесінші)' where Code = 'NEW_115';

  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Первый-Третий, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Бірінші-Үшінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_116';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Четвертый-Пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Төртінші-Бесінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_117';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Шестой-Седьмой, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Алтыншы-Жетінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_118';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Восьмой-Десятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Сегізінші-Оныншы), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_119';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Одиннадцатый-Двенадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он бірінші-Он екінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_120';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Тринадцатый-Пятнадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он үшінші-Он бесінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_121';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Шестнадцатый-Восемнадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он алтыншы-Он сегізінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_122';
  update DicTariffs set NameRu = 'За поддержание патента на изобретение (Девятнадцатый-Двадцать пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнертабыс патентін күшінде сақтау үшін (Он тоғызыншы-Жиырма бесінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_123';

  update DicTariffs set NameRu = 'За поддержание патента на полезную модель (Первый-Третий)', NameKz = 'Пайдалы модель патентін күшінде сақтау үшін (Бірінші-Үшінші)' where Code = 'NEW_124';
  update DicTariffs set NameRu = 'За поддержание патента на полезную модель (Четвертый-Восьмой)', NameKz = 'Пайдалы модель патентін күшінде сақтау үшін (Төртінші-Сегізінші)' where Code = 'NEW_124';

  update DicTariffs set NameRu = 'За поддержание патента на полезную модель (Первый-Третий, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Пайдалы модель патентін күшінде сақтау үшін (Бірінші-Үшінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_126';
  update DicTariffs set NameRu = 'За поддержание патента на полезную модель (Четвертый-Восьмой, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Пайдалы модель патентін күшінде сақтау үшін (Төртінші-Сегізінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_127';

  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Первый-Третий)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Бірінші-Үшінші)' where Code = 'NEW_128';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Четвертый-Пятый)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Төртінші-Бесінші)' where Code = 'NEW_129';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Шестой-Седьмой)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Алтыншы-Жетінші)' where Code = 'NEW_130';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Восьмой-Девятый)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Сегізінші-Тоғызыншы)' where Code = 'NEW_131';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Десятый)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Оныншы)' where Code = 'NEW_132';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Одиннадцатый-Пятнадцатый)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Он бірінші-Он бесінші)' where Code = 'NEW_133';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Шестнадцатый-Двадцатый)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Он алтыншы-Жиырмасыншы)' where Code = 'NEW_134';

  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Первый-Третий, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Бірінші-Үшінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_135';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Четвертый-Пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Төртінші-Бесінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_136';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Шестой-Седьмой, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Алтыншы-Жетінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_137';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Восьмой-Девятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Сегізінші-Тоғызыншы), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_138';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Десятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Оныншы), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_139';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Одиннадцатый-Пятнадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Он бірінші-Он бесінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_140';
  update DicTariffs set NameRu = 'За поддержание патента на промышленный образец (Шестнадцатый-Двадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Өнеркәсіп үлгісі патентін күшінде сақтау үшін (Он алтыншы-Жиырмасыншы), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_141';

  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Первый-Третий)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Бірінші-Үшінші)' where Code = 'NEW_142';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Четвертый-Пятый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Төртінші-Бесінші)' where Code = 'NEW_143';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Шестой-Седьмой)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Алтыншы-Жетінші)' where Code = 'NEW_144';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Восьмой-Десятый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Сегізінші-Оныншы)' where Code = 'NEW_145';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Одиннадцатый-Двенадцатый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он бірінші-Он екінші)' where Code = 'NEW_146';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Тринадцатый-Пятнадцатый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он үшінші-Он бесінші)' where Code = 'NEW_147';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Шестнадцатый-Восемнадцатый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он алтыншы-Он сегізінші)' where Code = 'NEW_148';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Девятнадцатый-Двадцать пятый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он тоғызыншы-Жиырма бесінші)' where Code = 'NEW_149';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Двадцать шестой-Тридцатый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Жиырма алтыншы-Отызыншы)' where Code = 'NEW_150';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Тридцать первый-Тридцать пятый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Отыз бірінші-Отыз бесінші)' where Code = 'NEW_151';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Тридцать шестой-Сороковой)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Отыз алтыншы-Қырықыншы)' where Code = 'NEW_152';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Сорок первый-Сорок пятый)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Қырық бірінші-Қырық бесінші)' where Code = 'NEW_153';

  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Первый-Третий, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Бірінші-Үшінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_154';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Четвертый-Пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Төртінші-Бесінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_155';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Шестой-Седьмой, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Алтыншы-Жетінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_156';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Восьмой-Десятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Сегізінші-Оныншы), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_157';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Одиннадцатый-Двенадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он бірінші-Он екінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_158';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Тринадцатый-Пятнадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он үшінші-Он бесінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_159';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Шестнадцатый-Восемнадцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он алтыншы-Он сегізінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_160';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Девятнадцатый-Двадцать пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Он тоғызыншы-Жиырма бесінші, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_161';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Двадцать шестой-Тридцатый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Жиырма алтыншы-Отызыншы, бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес)' where Code = 'NEW_162';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Тридцать первый-Тридцать пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Отыз бірінші-Отыз бесінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_163';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Тридцать шестой-Сороковой, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Отыз алтыншы-Қырықыншы), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_164';
  update DicTariffs set NameRu = 'За поддержание патента на селекционное достижение (Сорок первый-Сорок пятый, после установленного срока, но не позднее шести месяцев со дня его истечения)', NameKz = 'Селекциялік жетістігі патентін күшінде сақтау үшін (Қырық бірінші-Қырық бесінші), бекітілген мерзімінен кейін, бірақ оның өтуінен алты айдан кеш емес' where Code = 'NEW_165';