mat-selection-list.mat-selection-list {
  height: 450px
}

mat-list-option.mat-list-option {
  word-wrap: break-word;
 white-space: pre-line;
 line-height: 1.2em !important;
 height: auto !important;
 font-size: 14px;
}
